<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />

 
 <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
 Remove this if you use the .htaccess -->
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

 <title>{{ titolo }}</title>
 <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
 <meta name="description" content="" />
 <meta name="author" content="Fabio Bosisio" />

 <meta name="viewport" content="width=device-width; initial-scale=1.0" />

 <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
 <link rel="shortcut icon" href="/favicon.ico" />
 <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
 <div align="center" style=" margin:0 auto; padding-bottom:20px;">
 <img src="assets/images/icon.png"></img>
  </div>
 <div align="center" style="margin: 0 auto; width: 100%;">

<fieldset>
	<legend>
		Inserisci una nuova Famiglia
	</legend>
	{% if errors %}
	<div>
    {% for error in errors %}
      {{ error }} <br/>
    {% endfor %}
	</div>
	{% endif %}
	<form method="post">
		<label for="descrizione">Descrizione Famiglia</label>
		<input type="text" id="descrizione" name="descrizione" required/>
		<br/>
		<input type="submit" name="submit" value="Salva"/>
	</form>
</fieldset>

 </div>
</body>
</html>