<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>
  	{% if loginErrore == 1 %}
  		Effettua il login
  	{% elseif loginErrore == 2 %}	
  		Login Errato
  	{% else %}		
  		Pannello di Controllo
  	{% endif %}
  	{{ loginErrore }}		
  	</title>
  <meta name="description" content="" />
  <meta name="author" content="beppe" />

  <meta name="viewport" content="width=device-width; initial-scale=1.0" />

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>

<body>
  Effettua il login:
  <form method="post">
  	<p>
				Username
				<input type="text" name="username" />
			</p>
  	<p>
				Password
				<input type="password" name="password" />
			</p>
			<p>
				<input type="submit" id="submit" value="submit" name="submit" />
			</p>
  </form>
</body>
</html>
